

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us </title>

  <style>
   body
  {
  background-color:#0053AF;
  }
    after_submit{
    border-style:solid;


    }
    label
    {
    text-size:30px;
    }
h2{
  color:#EDF3E2;
}
p{
color:#FFD07B;
}
  </style>
</head>
<body align="center">
<div class="topnav" style="background-color: #333; overflow: hidden;">
	 <a href="." style="float: left;display: block;color: #f2f2f2;text-align: center;padding: 14px 16px;text-decoration: none;">Home</a>
    <a href ="{% url 'Login' %} "style="float: left;display: block;color: #f2f2f2;text-align: center;padding: 14px 16px;text-decoration: none;" >Vechile Registration</a>
  <a href="{% url  'send' %}" style="float:right;display: block;color: #f2f2f2;text-align: center;padding: 14px 16px;text-decoration: none;">Contact us</a>
  <a href="{% url 'Login' %}" style="float: right;display: block;color: #f2f2f2;text-align: center;padding: 14px 16px;text-decoration: none;">Login</a>
</div>
<h1 style="color:#990001;"><u>CONTACT US </u></h1><br>
<h2>Introduction</h2>
<p>The parking place is very important all over the world especially in the
cities of the countries. Every day thousands of car drivers spend a lot of the
time to find where to park. The result of this situation is theft in urban areas,
increasing traffic congestion and frustration of drivers. In order to solve
this problem, the implementation of Online Vehicle Park Reservation
System in this city for managing parking places is mandatory. It will allow
the drivers to Reserve a parking place on the Platform of Pay and Park
  anytime, anywhere.</p><br/>
<h2>Project Objective</h2>
<p>
* To establish possible solution to improve on the current Vehicle Parking
Reservation System.<br/>
* To collect feedback from the users and then use the people’s opinion to
make improvements in the user experiences.</p>
<h2>About Us</h2>
<p>This Project is developed by<br/></p>
<p>Aditya Raj<br/>
Amar Kumar<br/>
Neeraj Sharma<br/>
Deepak Kumar</p>
<p>email id: cusat.adityaraj@gmail.com</p>
</body>
</html>